.robot-list {
    position: relative; 
    width: 786px;
    margin: 0 auto; 
    background: #333A40;
  }
  
  .table-header, .table-row {
    position: relative; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 49.73px;
    padding: 0 10px;
    background: #333A40;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif; 
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }
  
  .table-row {
    background: #FFFFFF; 
    color: #000000; 
  }
  
  .table-row:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  
  .table-cell {
    width: auto; 
    padding: 10px;
  }
  
  .table-line {
    width: 787px;
    height: 1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 auto;
  }
  
  .language-selector {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .language-selector p {
    display: inline;
    margin-right: 10px;
    font-weight: bold;
  }
  
  .language-selector .btn {
    margin-right: 5px;
  }